{% extends "main/base.html" %}
{% block content %}
<main role="main" class="container">
{% if user.is_authenticated %}
<h1>My Activity</h1>
{% for activity in activitys %}
{% if activity.activityuser == user%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">{{ activity.repeat }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'activity-detail' activity.id %}">{{ activity.activityname }}</a></h2>
    <p class="article-content">start time: {{ activity.starttime }}:00</p>
    <p class="article-content">end time: {{ activity.endtime }}:00</p>
  </div>
</article>
{% endif %}
{% endfor %}
{% else %}
  <h1>Welcome</h1>
  <h2>Please Login first!!</h2>
{% endif %}
{% endblock content %}