{% extends "main/base.html" %}
{% block content %}
<main role="main" class="container">
{% if user.is_authenticated %}
  <h1>Done Task</h1>
  {% else %}
  <h1>Welcome</h1>
  <h2>Please Login first!!</h2>
{% endif %}
{% for task in donetasks %}
{% if task.taskuser == user%}
{% if task.status == "Done"%}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="bg-success">{{ task.status}}</small>
      <small class="text-muted">Due: {{ task.duedate|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'task-detail' task.id %}">{{ task.taskname }}</a></h2>
    <p class="article-content">Type: {{ task.tasktype }}</p>
    <p class="article-content">Spent Time: {{ task.spenttime }} hrs</p>
  </div>
  <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'task-update' task.id%}">Update Progress</a>
</article>
{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}