{% extends "main/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <style>
        table {
          width:100%;
          table-layout:fixed;
        }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 1px;
          text-align: left;
        }
        #t01 tr:nth-child(even) {
          background-color: #eee;
        }
        #t01 tr:nth-child(odd) {
         background-color: #fff;
        }
        #t01 th {
          background-color: black;
          color: white;
        }
        </style>

<main role="main" class="container">
{% if user.is_authenticated %}
<h1>Schedule</h1>
<article class="media content-section">
  <div class="media-body">
    <table id="t01">
        <tr>
          <th></th>
          <th>7am</th> 
          <th>8am</th>
          <th>9am</th>
          <th>10am</th>
          <th>11am</th>
          <th>12pm</th>
          <th>1pm</th>
          <th>2pm</th>
          <th>3pm</th>
          <th>4pm</th>
          <th>5pm</th>
          <th>6pm</th>
          <th>7pm</th>
        </tr>
        <tr>
            {# texting #}
          <td>Mon</td>
          {% for i in range %} 
            {% for activity in activitys %}
              {% if activity.activityuser == user%}
                {% for a in activity.repeat %}
                    {% if a == "Mon"%}
                        {% if activity.starttime <= i and activity.endtime >= i %}
                            <td>{{ activity.activityname }} </td>
                        {%else%}
                        <td></td>
                        {% endif %}
                     {% endif %}
                 {% endfor %}
              {% endif %} 
            {% endfor %} 
          {% endfor %} 
        </tr>
        <tr>
          <td>Tue</td>
          {% for i in range %} 
            {% for activity in activitys %}
              {% if activity.activityuser == user%}
                {% for a in activity.repeat %}
                    {% if a == "Tue"%}
                        {% if activity.starttime <= i and activity.endtime >= i %}
                            <td>{{ activity.activityname }} </td>
                        {%else%}
                        <td></td>
                        {% endif %}
                     {% endif %}
                 {% endfor %}
              {% endif %} 
            {% endfor %} 
          {% endfor %} 
        </tr>
        <tr>
          <td>Wed</td>
          {% for i in range %} 
            {% for activity in activitys %}
              {% if activity.activityuser == user%}
                {% for a in activity.repeat %}
                    {% if a == "Wed"%}
                        {% if activity.starttime <= i and activity.endtime >= i %}
                            <td>{{ activity.activityname }} </td>
                        {%else%}
                        <td></td>
                        {% endif %}
                     {% endif %}
                 {% endfor %}
              {% endif %} 
            {% endfor %} 
          {% endfor %} 
        </tr>
        <tr>
            <td>Thu</td>
            {% for i in range %} 
            {% for activity in activitys %}
              {% if activity.activityuser == user%}
                {% for a in activity.repeat %}
                    {% if a == "Thu"%}
                        {% if activity.starttime <= i and activity.endtime >= i %}
                            <td>{{ activity.activityname }} </td>
                        {%else%}
                        <td></td>
                        {% endif %}
                     {% endif %}
                 {% endfor %}
              {% endif %} 
            {% endfor %} 
          {% endfor %} 
          </tr>
        <tr>
            <td>Fri</td>
            {% for i in range %} 
            {% for activity in activitys %}
              {% if activity.activityuser == user%}
                {% for a in activity.repeat %}
                    {% if a == "Fri"%}
                        {% if activity.starttime <= i and activity.endtime >= i %}
                            <td>{{ activity.activityname }} </td>
                        {%else%}
                        <td></td>
                        {% endif %}
                     {% endif %}
                 {% endfor %}
              {% endif %} 
            {% endfor %} 
          {% endfor %} 
          </tr>
        <tr>
            <td>Sat</td>
            {% for i in range %} 
            {% for activity in activitys %}
              {% if activity.activityuser == user%}
                {% for a in activity.repeat %}
                    {% if a == "Sat"%}
                        {% if activity.starttime <= i and activity.endtime >= i %}
                            <td>{{ activity.activityname }} </td>
                        {%else%}
                        <td></td>
                        {% endif %}
                     {% endif %}
                 {% endfor %}
              {% endif %} 
            {% endfor %} 
          {% endfor %} 
          </tr>
          <tr>
            <td>Sun</td>
            {% for i in range %}
              {% for activity in activitys %}
                {% if activity.activityuser == user%}
                    {% if "Sun" in activity.repeat %}
                          {% if activity.starttime <= i and activity.endtime >= i %}
                             <td>{{ activity.activityname }} </td>
                          {%else%}
                          <td></td>
                          {% endif %}
                    {% endif %} 
                {% endif %} 
            {% endfor %} 
          {% endfor %} 
          </tr>
      </table>
  </div>
</article>
  {% if "Sun" not in activitys.repeat %}
    <h3>yes</h3>
  {% endif %} 
{% else %}
  <h1>Welcome</h1>
  <h2>Please Login first!!</h2>
{% endif %}
{% endblock content %}
</html>